.aside{
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: #042031;
min-height: 100dvh;
width: 20%;

    li{
    color: rgb(226, 20, 20);
    text-decoration: none;
    padding-bottom: 0.25rem;
    list-style: none;
    padding: 0.5rem;

    }

}
