.header{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 50%;
    padding-bottom: 2rem;
  
    .mailConnection{
        display: flex;
        gap: 0.5rem;
    }
    
    img{
        width:2.5em;
    }
}

